<h2 class="text-center">New Loan</h2>
<div class="container d-flex flex-column row-gap" [formGroup]="newLoanForm">
    <div class="row">
        <div class="col-6">
            <label>Customer Name</label>
            <input type="text" class="form-control mb-2" placeholder="Customer Name" formControlName="customerName">
        </div>
        <div  class="col-6">
            <label>Customer Email</label>
            <input type="text" class="form-control mb-2" placeholder="Customer Email" formControlName="customerEmail">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Select Loan Item</label>
            <select class="form-select mb-2" formControlName="loanItem">
                <option [selected]="true" disabled>Select item</option>
                <option value="4 wheeler loan">4 wheeler loan</option>
                <option value="2 wheeler loan">2 wheeler loan</option>
            </select>
        </div>
        <div class="col-6">
            <label>Item Price</label>
            <input type="text" class="form-control mb-2" placeholder="Item Price" formControlName="itemPrice">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Down Payment Percentage</label>
            <input type="number" class="form-control mb-2" placeholder="Down Payment Percentage"
                formControlName="downPayment">
        </div>
        <div class="col-6">
            <label>Tenure</label>
            <input type="number" class="form-control mb-2" placeholder="Tenure In Years" formControlName="tenure">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Upload PAN</label>
            <input type="file" class="form-control mb-2" (change)="onPanUpload($event)">
        </div>
        <div class="col-6">
            <label>Upload Aadhaar</label>
            <input type="file" class="form-control mb-3" (change)="onAadhaarUpload($event)">
        </div>
    </div>
    <button class="btn btn-primary w-25 align-self-center" (click)="raiseReq()">Raise Requisition</button>
</div>